[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-rest-auth = "*"
django = "==3.2.10"
django-allauth = "==0.40.0"
windows-curses = "*"

[dev-packages]

[requires]
python_version = "3.10"
